<%- include('../partials/header.ejs') %>

<%- include('../partials/navbar.ejs') %>

<h1>New Sales Invoice</h1>


<div id="c_body"></div>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="content-body">
                <div class="card">
                    <div class="card-content">
                        <div id="notify" class="alert alert-success" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <div class="message"></div>
                        </div>
                        <div class="card-body">
                            <form method="post" id="data_form">
                                <div class="row">
                                    <div class="col-sm-6 cmp-pnl">
                                        <div id="customerpanel" class="inner-cmp-pnl">
                                            <div class="form-group row">
                                                <!-- <div class="fcol-sm-12">
                                                    <h3 class="title">
                                                        Bill To <a href='#' class="btn btn-primary btn-sm round"
                                                            data-toggle="modal" data-target="#addCustomer">
                                                            Add Client </a>
                                                </div> -->
                                            </div>
                                            <div class="form-group row">
                                                <div class="frmSearch col-sm-12"><label for="cst" class="caption">Search
                                                        Client</label>
                                                    <input type="text" class="form-control round" name="cst"
                                                        id="customer-box" <input type="text" class="form-control round"
                                                        name="cst" id="customer-box"
                                                        placeholder="Enter Customer Name or Mobile Number to search"
                                                        autocomplete="off" />
                                                    <div id="customer-box-result"></div>
                                                </div>
                                            </div>
                                            <div id="customer">
                                                <div class="clientinfo">
                                                    Client Details
                                                    <hr>
                                                    <input type="hidden" name="customer_id" id="customer_id" value="0">
                                                    <div id="customer_name"></div>
                                                </div>
                                                <div class="clientinfo">
                                                    <div id="customer_address1"></div>
                                                </div>

                                                <div class="clientinfo">

                                                    <div id="customer_phone"></div>
                                                </div>
                                                <hr>
                                                <div id="customer_pass"></div>Warehouse <select id="s_warehouses"
                                                    class="form-control round">
                                                    <option value="0">*All</option>
                                                    <option value="0">All</option>
                                                    <option value="1">Main WareHouse</option>
                                                    <option value="2">France</option>
                                                    <option value="3">China</option>
                                                    <option value="4">Croatia</option>
                                                    <option value="5">Albania</option>
                                                    <option value="6">Bulgaria</option>
                                                    <option value="7">Japan</option>
                                                    <option value="8">Guatemala</option>
                                                    <option value="9">USA</option>
                                                    <option value="10">UK</option>
                                                    <option value="11">USA</option>
                                                </select>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-sm-6 cmp-pnl">
                                        <div class="inner-cmp-pnl">


                                            <div class="form-group row">

                                                <div class="col-sm-12">
                                                    <h3 class="title">Invoice Properties</h3>
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6"><label for="invocieno" class="caption">Invoice
                                                        Number</label>

                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="icon-file-text-o"
                                                                aria-hidden="true"></span></div>
                                                        <input type="text" class="form-control round"
                                                            placeholder="Invoice #" name="invocieno" value="1011">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6"><label for="invocieno"
                                                        class="caption">Reference</label>

                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="icon-bookmark-o"
                                                                aria-hidden="true"></span></div>
                                                        <input type="text" class="form-control round"
                                                            placeholder="Reference #" name="refer">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">

                                                <div class="col-sm-6"><label for="invociedate" class="caption">Invoice
                                                        Date</label>

                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="icon-calendar4"
                                                                aria-hidden="true"></span></div>
                                                        <input type="text" class="form-control round required"
                                                            placeholder="Billing Date" name="invoicedate"
                                                            data-toggle="datepicker" autocomplete="false">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6"><label for="invocieduedate"
                                                        class="caption">Invoice Due Date</label>

                                                    <div class="input-group">
                                                        <div class="input-group-addon"><span class="icon-calendar-o"
                                                                aria-hidden="true"></span></div>
                                                        <input type="text" class="form-control round required"
                                                            name="invocieduedate" placeholder="Due Date"
                                                            autocomplete="false" data-toggle="datepicker">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <label for="taxformat" class="caption">Tax</label>
                                                    <select class="form-control round"
                                                        onchange="changeTaxFormat(this.value)" id="taxformat">

                                                        <option value="yes" data-tformat="yes" selected>&raquo;On
                                                        </option>
                                                        <option value="yes" data-tformat="yes">On</option>
                                                        <option value="inclusive" data-tformat="incl">Inclusive</option>
                                                        <option value="off" data-tformat="off">Off</option>
                                                        <option value="yes" data-tformat="cgst">CGST + SGST</option>
                                                        <option value="yes" data-tformat="igst">IGST</option>
                                                        <option value="inclusive" data-tformat="inclusive"
                                                            data-trate="10">Custom 10% Inclusive</option>
                                                        <option value="yes" data-tformat="cgst" data-trate="12">CGST 6%
                                                            + SGST 6% Exclusive</option>
                                                        <option value="yes" data-tformat="yes" data-trate="20">VAT 20%
                                                            Exclusive</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label for="discountFormat" class="caption"> Discount</label>
                                                        <select class="form-control round"
                                                            onchange="changeDiscountFormat(this.value)"
                                                            id="discountFormat">

                                                            <option value="%">--% Discount After TAX--</option>
                                                            <option value="%"> % Discount After TAX</option>
                                                            <option value="flat">Flat Discount After TAX</option>
                                                            <option value="b_p"> % Discount Before TAX</option>
                                                            <option value="bflat">Flat Discount Before TAX</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <label for="toAddInfo" class="caption">Invoice Note</label>
                                                    <textarea class="form-control round" name="notes"
                                                        rows="2"></textarea></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div id="saman-row">
                                    <table class="table-responsive tfr my_stripe">

                                        <thead>
                                            <tr class="item_header bg-gradient-directional-blue white">
                                                <th width="30%" class="text-center">Item Name</th>
                                                <th width="8%" class="text-center"> Quantity</th>
                                                <th width="10%" class="text-center">Rate</th>
                                                <th width="10%" class="text-center"> Tax(%)</th>
                                                <th width="10%" class="text-center">Tax</th>
                                                <th width="7%" class="text-center"> Discount</th>
                                                <th width="10%" class="text-center">
                                                    Amount ($)
                                                </th>
                                                <th width="5%" class="text-center"> Action</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" name="product_name[]"
                                                        placeholder="Enter Product name or Code" id='productname-0'>
                                                </td>
                                                <td><input type="text" class="form-control req amnt"
                                                        name="product_qty[]" id="amount-0"
                                                        onkeypress="return isNumber(event)"
                                                        onkeyup="rowTotal('0'), billUpyog()" autocomplete="off"
                                                        value="1"><input type="hidden" id="alert-0" value=""
                                                        name="alert[]"></td>
                                                <td><input type="text" class="form-control req prc"
                                                        name="product_price[]" id="price-0"
                                                        onkeypress="return isNumber(event)"
                                                        onkeyup="rowTotal('0'), billUpyog()" autocomplete="off"></td>
                                                <td><input type="text" class="form-control vat " name="product_tax[]"
                                                        id="vat-0" onkeypress="return isNumber(event)"
                                                        onkeyup="rowTotal('0'), billUpyog()" autocomplete="off"></td>
                                                <td class="text-center" id="texttaxa-0">0</td>
                                                <td><input type="text" class="form-control discount"
                                                        name="product_discount[]" onkeypress="return isNumber(event)"
                                                        id="discount-0" onkeyup="rowTotal('0'), billUpyog()"
                                                        autocomplete="off"></td>
                                                <td><span class="currenty">$</span>
                                                    <strong><span class='ttlText' id="result-0">0</span></strong></td>
                                                <td class="text-center">

                                                </td>
                                                <input type="hidden" name="taxa[]" id="taxa-0" value="0">
                                                <input type="hidden" name="disca[]" id="disca-0" value="0">
                                                <input type="hidden" class="ttInput" name="product_subtotal[]"
                                                    id="total-0" value="0">
                                                <input type="hidden" class="pdIn" name="pid[]" id="pid-0" value="0">
                                                <input type="hidden" name="unit[]" id="unit-0" value="">
                                                <input type="hidden" name="hsn[]" id="hsn-0" value="">
                                                <input type="hidden" name="serial[]" id="serial-0" value="">
                                            </tr>
                                            <tr>
                                                <td colspan="8"><textarea id="dpid-0" class="form-control"
                                                        name="product_description[]"
                                                        placeholder="Enter Product description (Optional)"
                                                        autocomplete="off"></textarea><br></td>
                                            </tr>

                                            <tr class="last-item-row sub_c">
                                                <td class="add-row">
                                                    <button type="button" class="btn btn-success"
                                                        aria-label="Left Align" id="addproduct">
                                                        <i class="fa fa-plus-square"></i> Add Row </button>
                                                </td>
                                                <td colspan="7"></td>
                                            </tr>

                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="6" class="reverse_align"><input type="hidden" value="0"
                                                        id="subttlform" name="subtotal"><strong> Total Tax</strong>
                                                </td>
                                                <td align="left" colspan="2"><span class="currenty lightMode">$</span>
                                                    <span id="taxr" class="lightMode">0</span></td>
                                            </tr>
                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="6" class="reverse_align">
                                                    <strong> Total Discount</strong></td>
                                                <td align="left" colspan="2"><span class="currenty lightMode">$</span>
                                                    <span id="discs" class="lightMode">0</span></td>
                                            </tr>

                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="6" class="reverse_align">
                                                    <strong> Shipping</strong></td>
                                                <td align="left" colspan="2"><input type="text"
                                                        class="form-control shipVal" onkeypress="return isNumber(event)"
                                                        placeholder="Value" name="shipping" autocomplete="off"
                                                        onkeyup="billUpyog()">
                                                    ( Tax $ <span id="ship_final">0</span> )
                                                </td>
                                            </tr>
                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="6" class="reverse_align">
                                                    <strong> Extra Discount</strong>
                                                </td>
                                                <td align="left" colspan="2"><input type="text"
                                                        class="form-control form-control-sm discVal"
                                                        onkeypress="return isNumber(event)" placeholder="Value"
                                                        name="disc_val" autocomplete="off" value="0"
                                                        onkeyup="billUpyog()">
                                                    <input type="hidden" name="after_disc" id="after_disc" value="0">
                                                    ( $ <span id="disc_final">0</span> )
                                                </td>
                                            </tr>


                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="2"><br>Payment Currency for your client <small>based on
                                                        live market</small>
                                                    <select name="mcurrency" class="selectpicker form-control">
                                                        <option value="0">Default</option>
                                                        <option value="1">£ (GBP)</option>
                                                        <option value="2">BTC (BTC)</option>
                                                        <option value="3">₹ (INR)</option>
                                                        <option value="4">৳ (BDT)</option>
                                                    </select></td>
                                                <td colspan="4" class="reverse_align"><strong> Grand Total (<span
                                                            class="currenty lightMode">$</span>)</strong>
                                                </td>
                                                <td align="left" colspan="2"><input type="text" name="total"
                                                        class="form-control" id="invoiceyoghtml" readonly="">

                                                </td>
                                            </tr>
                                            <tr class="sub_c" style="display: table-row;">
                                                <td colspan="2"> Payment Terms <select name="pterms"
                                                        class="selectpicker form-control">
                                                        <option value="1">Payment On Receipt</option>
                                                    </select></td>
                                                <td class="reverse_align" colspan="6"><input type="submit"
                                                        class="btn btn-success sub-btn btn-lg"
                                                        value=" Generate Invoice " id="submit-data"
                                                        data-loading-text="Creating...">

                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                    <div class="card"></div>
                                </div>
                                <input type="hidden" value="new_i" id="inv_page">
                                <input type="hidden" value="invoices/action" id="action-url">
                                <input type="hidden" value="search" id="billtype">
                                <input type="hidden" value="0" name="counter" id="ganak">
                                <input type="hidden" value="$" name="currency">
                                <input type="hidden" value="%" name="taxformat" id="tax_format">
                                <input type="hidden" value="yes" name="tax_handle" id="tax_status">
                                <input type="hidden" value="yes" name="applyDiscount" id="discount_handle">
                                <input type="hidden" value="%" name="discountFormat" id="discount_format">
                                <input type="hidden" value="10.00" name="shipRate" id="ship_rate">
                                <input type="hidden" value="incl" name="ship_taxtype" id="ship_taxtype">
                                <input type="hidden" value="0" name="ship_tax" id="ship_tax">
                                <input type="hidden" value="0" id="custom_discount">

                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <script src="../../assets/js/jquery-3.5.1.min.js"></script>
            <%- include('../partials/footer.ejs') %>